*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}


header{
    color: white;
    background-color: rgb(62, 214, 62);
    padding: 15px;
    width: 100%;
}
.logo{
    width: 50%;
}
.navigation-div{
    width: 50%;
} 
nav{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
li{
    margin: 0 2%;
    font-size: 70%;
}



main{
    background-color: rgb(65, 65, 255);
}
.main-article{
    margin: 5%;
    display: flex;
}
article>.text-div{
    margin: 10% 0;
    color: aliceblue;
    width: 60%;
}
.loremtext-div{
    width: 100%;
    margin: 2% 0;
    font-size: 80%;
}
.laptop-image-div{
    margin:  0;
    width: 40%;
}
.laptop-image{
    width: 100%;
}

.getstarted-div{
    margin: 10% 0;
}
a{
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
}
a:link{
    text-decoration: none;
}





.footer-article{
    color: white;
    text-align: center;
}
.artical-div{
    background-color: rgb(20, 19, 19);
}
.footer-text{
    margin: 3% 15%;
}
.link{
    margin: 3% 0.5%;
    border-radius: 100%;
    border: 1px solid black;
    background-color: black;
    color: white;
}
.dark{
    margin: 0;
    background-color: black;
    text-align: left;
}
.bottom-link{
    position: absolute;
    top: 153%;
    padding: 2%;
    margin: 0 3%;
}
